[tool.poetry]
name = "dokuWikiDumper"
version = "0.1.22"
description = "A tool for archiving DokuWiki"
authors = ["yzqzss <yzqzss@yandex.com>"]
license = "GPL-3.0"
readme = "README.md"

packages = [
    { include = "dokuWikiDumper/**/*" },
    { include = "dokuWikiUploader/**/*" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/saveweb/dokuwiki-dumper/issues"
"repository" = "https://github.com/saveweb/dokuwiki-dumper/"

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.28.2"
beautifulsoup4 = "^4.11.2"
lxml = "^4.9.2"
internetarchive = "^3.3.0"
rich = "^13.3.4"


[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
flake8 = "^4.0.1"

[tool.poetry.scripts]
dokuWikiDumper = "dokuWikiDumper:main"
dokuWikiUploader = "dokuWikiUploader:main"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
